# Игнорировать виртуальные окружения
venv/
.venv/
env/
.env/
ENV/
virtualenv/

# Игнорировать все изображения (низкий и верхний регистр)
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.svg
*.webp
*.heic
*.ico
*.psd

*.PNG
*.JPG
*.JPEG
*.GIF
*.BMP
*.TIF
*.TIFF
*.SVG
*.WEBP
*.HEIC
*.ICO
*.PSD

# Игнорировать все видео (низкий и верхний регистр)
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.flv
*.wmv
*.mpeg
*.mpg
*.m4v
*.3gp

*.MP4
*.MOV
*.AVI
*.MKV
*.WEBM
*.FLV
*.WMV
*.MPEG
*.MPG
*.M4V
*.3GP